<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="http://at.alicdn.com/t/font_910608_8493dwyfe5w.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/robot-gm-ph.css">
</head>
<body>
    <div id="app">
        <div v-if="isLogin">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-3">
                        <div class="phone-body">
                            <div class="navbar navbar-fixed-top chat-head">
                                <div class="setupIcon" @click="setupRobotArea">
                                    <span><i class="iconfont icon-shezhi"></i></span>
                                </div>
                                <div class="robot-area">
                                    <div>
                                        Robot 范围:  {{minRobotId}} - {{maxRobotId}}
                                    </div>
                                </div>
                                <button class="bt-exit" @click="exitGm">退出</button>
                            </div>
                            <div class="chat-body">
                                <div v-show="pageIndex === 0">
                                    <robot-bar v-for="(value, index) in robotArray" :key="index" :robot="value" :active-id="curRobot.id"
                                        @selected-robot="selectRobot(value.id)"></robot-bar>
                                </div>
                                <div v-show="pageIndex === 1">
                                    <div class="chet-center-top">
                                        <div v-if="curRobot">
                                            <div class="detail-icon" :style="robotDetailIcon"></div>
                                            <div class="detail-key">
                                                <div class="detail-each">名称 :</div>
                                                <div class="detail-each">PUID :</div>
                                                <div class="detail-each">性别 :</div>
                                                <div class="detail-each">年龄 :</div>
                                                <div class="detail-each">城市 :</div>
                                                <div class="detail-each">职业 :</div>
                                            </div>
                                            <div class="detail-data">
                                                <div class="detail-each">{{curRobot.name ? curRobot.name : '未知'}}</div>
                                                <div class="detail-each">{{curRobot.puid ? curRobot.puid : '未知'}}</div>
                                                <div class="detail-each">{{curRobot.sex ? (curRobot.sex === 1 ? '男' : '女') : '未知'}}</div>
                                                <div class="detail-each">{{curRobot.age ? curRobot.age : '未知'}}</div>
                                                <div class="detail-each">{{curRobot.city ? curRobot.city : '未知'}}</div>
                                                <div class="detail-each">{{curRobot.profile ? curRobot.profile : '未知'}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center-scroll">
                                        <div v-if="curRobot && curRobot.chats">
                                            <robot-chat-bar v-for="(value, index) in curRobot.chats" :key="index" :chat="value" :active-id="curRobot.curChat.friendId"
                                                @selected-chat="selectChat(value.friendId)"></robot-chat-bar>
                                        </div>
                                    </div>
                                </div>
                                <div v-show="pageIndex === 2">
                                    <div class="chat-history">
                                        <div class="chat-target-top">
                                            <div v-if="curRobot && curRobot.curChat" style="padding-top: 20px;">
                                                {{curRobot.curChat.friendName}}
                                            </div>
                                        </div>
                                        <div id="chat-scroll-content" class="chat-scroll">
                                            <div v-if="curRobot && curRobot.curChat">
                                                <chat-bubble v-for="(value, index) in curRobot.curChat.chatContent" :key="index" :bubble="value"
                                                    :friend="curRobot.curChat.friendId" :robotsex="curRobot.sex" :friendsex="curRobot.curChat.sex"></chat-bubble>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height: 2px; width: 99%; border-bottom: 1px solid rgb(59, 64, 71);"></div>
                                    <div class="chat-sender">
                                        <div class="edit-area">
                                            <span><i style="font-size: 26px;" class="iconfont icon-biaoqing"></i></span>
                                            <input style="color: black; width: 85%;" name="chat-editer" id="ta-editer" v-model="editContent" @keyup="keyupHandler" />
                                        </div>
                                        <button class="bt-sender" @click="shootMessage">发送</button>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar navbar-fixed-bottom chat-tail">
                                <div v-show="pageIndex > 0">
                                    <button class="bt-back" @click="backPage">返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="container">
                <div class="login">
                    <div class="setupLogin" @click="setupLoginAddress">
                    <span><i class="iconfont icon-shezhi" style="font-size: 14px !important;"></i></span>
                </div>
                <div class="connect-status">
                    连接状态 : {{connectStatus}}
                </div>
                <div class="inputSecret">
                    <label for="loginName" style="color: rgb(230, 230, 230);">验证码 :</label>
                    <input type="text" name="loginName" id="loginName" v-model="loginSecret" 
                        style="width: 280px; margin-top: 15px; font-size: 26px; padding: 3px 5px; border-radius: 4px; border: 1px solid rgb(230, 230, 230);"
                        @keyup.enter="loginRobotConsole">
                </div>
                <div class="bt-submit" @click="loginRobotConsole">
                    登录
                </div>
                <div style="height: 16px; font-size: 11px; color: rgb(130, 130, 130); text-align: center; margin-top: 30px;">
                    <p>请前往GM后台获取登录验证码. </p>
                    <p>(每个验证码仅可使用一次)</p>
                </div>
                </div>
            </div>
        </div>
    </div>

    <template id="temp-robot-bar">
        <div class="robot-bar" :class="{active: activeId === robot.id}" @click="$emit('selected-robot')">
            <div class="robot-icon" :style="robotIcon"><div :class="{iconnotice: hasNewMessage}"></div></div>
            <div class="robot-name">{{robot.simpleName}}</div>
        </div>
    </template>

    <template id="temp-robot-chat-bar">
        <div class="robot-chat-bar" :class="{active: activeId === chat.friendId}" @click="$emit('selected-chat')">
            <div class="friend-icon" :style="friendIcon"></div>
            <div class="friend-name">
                <div class="detail-each">{{chat.friendName}}</div>
                <div class="detail-each" style="font-size: 12px; color: rgb(136, 136, 136);">{{chat.friendId}} | {{chat.age}}岁 | {{chat.sex === 1 ? '男' : '女'}}</div>
            </div>
            <div class="friend-notice" v-show="notReadNum > 0">
                {{notReadNum}}
            </div>
        </div>
    </template>

    <template id="temp-chat-bubble">
        <div class="chat-wrap">
            <div class="bubble-icon" :class="{bubbleiconleft: bubble.id == friend, bubbleiconright: bubble.id != friend}" :style="iconBgSwitch"></div>
            <div :class="{chatbubbleleft: bubble.id == friend, chatbubbleright: bubble.id != friend}" style="white-space: pre-line;">{{bubble.chat}}</div>
            <div style="clear: both; width: 100%"></div>
        </div>
    </template>

    <script src="./js/vue.js"></script>
    <script src="./js/jquery-1.9.1.min.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/robot-gm-new.js"></script>
</body>
</html>