<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>机器人聊天</title>
    <link rel="stylesheet" href="./test.css">
    <link rel="stylesheet" href="./jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_910608_8493dwyfe5w.css">
</head>

<body>
    <div id="app">
        <div v-if="isLogin" class="chat">
            <div class="chat-left">
                <div class="chat-left-top">

                </div>
                <div class="left-scroll">
                    <robot-bar v-for="value in robotArray" :key="value.id" :robot="value" :active-id="curRobot.id"
                        @selected-robot="selectRobot(value.id)"></robot-bar>
                </div>
            </div>
            <div class="chat-center">
                <div class="sidebar-left"></div>
                <div class="chet-center-top">
                    <div v-show="curRobot">
                        <div class="detail-icon"></div>
                        <div class="detail-key">
                            <div>名称 :</div>
                            <div>PUID :</div>
                            <div>性别 :</div>
                            <div>年龄 :</div>
                            <div>城市 :</div>
                            <div>职业 :</div>
                        </div>
                        <div class="detail-data">
                            <div>{{curRobot.name ? curRobot.name : '未知'}}</div>
                            <div>{{curRobot.puid ? curRobot.puid : '未知'}}</div>
                            <div>{{curRobot.sex ? (curRobot.sex === 1 ? '男' : '女') : '未知'}}</div>
                            <div>{{curRobot.age ? curRobot.age : '未知'}}</div>
                            <div>{{curRobot.city ? curRobot.city : '未知'}}</div>
                            <div>{{curRobot.profile ? curRobot.profile : '未知'}}</div>
                        </div>
                    </div>
                </div>
                <div class="center-scroll">
                    <robot-chat-bar v-for="value in curRobot.chats" :key="value.id" :chat="value" :active-id="curRobot.curChat.friendId"
                        @selected-chat="selectChat(value.friendId)"></robot-chat-bar>
                </div>
            </div>
            <div class="chat-right">
                <div class="chat-history">
                    <div class="chat-target-top">
                        <div style="padding-top: 20px;">小明</div>
                    </div>
                </div>
                <div style="width: 710px; border-bottom: 1px solid rgb(214, 214, 214);"></div>
                <div class="chat-sender">
                    <div class="edit-area">
                        <div>
                            <span><i class="iconfont icon-biaoqing"></i></span>
                        </div>
                        <textarea name="chat-editer" id="ta-editer" onkeypress="handlerEnter"></textarea>
                    </div>
                    <div class="send-bt">
                        <span style="font-size: 12px; color: rgb(136, 136, 136);">按下Ctrl+Enter换行</span>
                        <button class="bt-sender">发送</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            请先登录
        </div>
    </div>

    <template id="temp-robot-bar">
        <div class="robot-bar" :class="{active: activeId === robot.id}" @click="$emit('selected-robot')">
            <div class="robot-icon"></div>
            <div class="robot-name">{{robot.name}}</div>
        </div>
    </template>

    <template id="temp-robot-chat-bar">
        <div class="robot-chat-bar" :class="{active: activeId === chat.friendId}" @click="$emit('selected-chat')">
            <div class="friend-icon"></div>
            <div class="friend-name">
                <div>{{chat.friendName}}</div>
                <div style="font-size: 12px; color: rgb(136, 136, 136);">{{chat.friendId}}</div>
            </div>
            <div class="friend-notice" v-show="chat.readNum < chat.chatContent.length">{{chat.chatContent.length - chat.readNum}}</div>
        </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./jquery-1.9.1.min.js"></script>
    <script src="./jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="./test.js"></script>

    <script>
        (function ($) {
            $(window).load(function () {
                $(".left-scroll").mCustomScrollbar({
                    theme: "light-2",
                    scrollInertia: 150
                });
                $(".center-scroll").mCustomScrollbar({
                    theme: "light-2",
                    scrollInertia: 150
                });
            });
        })(jQuery);
    </script>
</body>

</html>